:root {
  --background-colour: #EFF1ED;
  --light-dialogue: #FCFFF8;
  --text-colour: #373D20;
  --logo-colour: #88C093;

  --font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--logo-colour); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-colour); 
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  background-color: var(--background-colour);
}

/* Header Styles */
header {
  background-color: var(--background-colour);
  color: var(--text-colour);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-link{
  text-decoration: none;
  color: var(--text-colour);
  font-size: 20px;
}
.profile-link{
  font-size: 15px;
}


/* Footer Styles */
footer {
  background-color: var(--background-colour);
  color: var(--text-colour);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Optional: Style the content between header and footer */
main {
  padding: 20px;
}

/* form */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-family);
  line-height: 1.6;
  resize: vertical; /* Allow vertical resizing */
}

/* ARTWORK CARD */
.artwork-card {
  background-color: rgb(0, 0, 0);
  width: 300px;
  height:300px;
  overflow: hidden;
}
.artwork-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.artwork-card-img:hover {
  transform: scale(1.05);
}
/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: space-between;
}

.displayed-artwork {
  width:auto;
  height:auto;
  min-width: 35%;
  min-height: 35%;
  max-width: 55%;
  max-height: 800px;
}
.displayed-artwork > img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* artwork page */
.artwork-and-info {
  display: flex;
  height: 75vh;
  padding: 30px;
  justify-content: center;
}

.artwork-and-info > .displayed-artwork {
  height: inherit;
  width: auto;
  margin-right: calc((30% + 5vw));
  

}

.artwork-info {
  background-color: var(--light-dialogue);
  width: 30%;
  height: inherit;
  
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px var(--text-colour);
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
  right: 7.5vw;
  position: absolute;
}

/* MODAL */
.modal-image{
  width:auto;
  height:auto;
  max-width: 95vw;
  max-height: 95vh;
}
.modal-image-div {
  display: flex;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}
.modal.is-open {
  display: block;
}
.modal-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width:100%;
  height:100%;
  margin: auto;

}

.close {
  float: right;
  position: fixed;
  top: 0.5vh;
  right: 3.5vh;
  color: #ff0000;
  font-size: 10vh;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 1vh;
  margin-top: -2.5vh;
  margin-right: 1vh;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* COMMENT */
.comment-card {
  text-align: left;
  background-color: var(--logo-colour);
  margin: 10px;
  border-radius: 15px;
  word-wrap: break-word;
}

.comment-section {
  overflow-y: scroll;
  height: 35%;
  margin-bottom: calc((85px + 2vw));
  position: relative;
}

.comment-create {
  display: flex;
  /* flex-direction: row;  */
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 5%;
  padding-bottom: 0;
}

.comment-create > textarea {
  width: 100%;
  resize: none;
  height: 85px;
  margin-bottom: 0%;
}

.comment-create > input {
  /* background-image: url("../assets/send-comment.png");
  background-size: cover; */
  width: 2vw;
  /* z-index: 1; */
  height: 2vw;
  /* float:right; */
  font-size: 2vh;
  font-weight: bold;
  transition: 0.3s;
  align-self: flex-end;
  /*position: relative; */
  /* margin-left: -10%; */
  /* margin-top: -2.5vh;
  margin-right: 1vh; */
  border-width: 0;
  /* background-color: transparent; */
  -webkit-mask-image: url("../assets/send-comment.png");
  mask-image: url("../assets/send-comment.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 2vw 2vw;
  mask-size: 2vw 2vw;
  -webkit-mask-position: right;
  mask-position:right;
  background-color: var(--logo-colour);
}

.comment-create > input:hover {
  background-color: var(--text-colour);
}

/* like button */
.like-image { 
  width:25px;
}

/* tag checkbox */

.tag-checkbox {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}
/* .tag-checkbox > input {
  display: none
} */
/* .tag-checkbox > input[type="checkbox"]:checked + span {
  background-color: #4CAF50;
  color: white;
} */

/* CREATE ARTWORK */
.create-artwork {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 75vh;
  width: 80%;
  max-width: none;
  background-color: var(--logo-colour);
  margin-bottom: 50px;
}

.create-artwork-image, .create-artwork-details {
  width: 100%;
  height: 65vh;
}

.create-artwork-image > img {
  /* height: 30vh;
  width: auto; */
  max-height: 80%;
  max-width:100%;
  object-fit: cover;
}

.create-artwork-details > div {
  max-height: 80%;
}

.create-artwork-details > div > div {
  max-height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: var(--light-dialogue); */
  padding: 5px;
  gap: 5px;
}

.create-artwork-details > div > div > .tag-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc((5px + 5vw) / 1.5);
  width: calc((10px + 5vw) * 1.5);
  font-size: calc(5px + 0.5vw);
  padding: 0;
  /* background-color: var(--logo-colour); */
  background-color: var(--light-dialogue);
}

.create-artwork-details > div > div > .tag-checkbox > input {
  width: calc(5px + 0.5vw);
  padding: 5px;
  accent-color: var(--logo-colour);
}

.create-artwork-details > div > div > .tag-checkbox > span {
  height: calc((5px + 0.5vw) * 3);
  width: 70%;
  max-width: 70%;
}

.row {
  display: flex;
  flex-direction: row;
}